body {
    background-color: white;
  }
  h1 {
    color: Yellow;
    font-family: Arial;
  }
  p {
    color: black;
    font-family: Arial;
      
      
 <img src="i.png" alt="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Mordekaiser_0.jpg"width="150" height="100">
 } 
